.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.MenuContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 2rem;
}
.weatherMenuItem {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;
  height: 20px;
  padding: 2rem;
  width: 50%;
  text-align: left;
  color: black;
  background: 
    linear-gradient(to right, #ffffff, #cacaca, #979797, #676767, #3b3b3b, #3b3b3b, #3b3b3b, #3b3b3b, #676767, #979797, #cacaca, #ffffff)
    left
    bottom
    no-repeat;
  background-size: 100% 2px;
  border-radius: 15px;
}

.weatherMenuItem:hover{
  cursor: pointer;
  background-color:rgb(204, 204, 204);
}

.icon {
  display: inline;
}

/* spinner */
.spinner-border {
  align-self: center;
}

/* Selected City Div */
.selected-city-div {
  background-color: rgb(118, 198, 255);
  border-radius: 15px;
  /* align-self: center; */
  min-width: 500px;
  padding: 10px;
}